$color_primary: #FF005C;
$color_error: #FF005C;
$color_secondary: #252525;
$color_text: #B8B8B8;
$color_text-accent: #FFFFFF;
$color_accent: #FFD200;
$color_bg: #000000;
$width-desktop: 1130px;
$width-logo: 105px;
$height-header: 60px;
$gap-sm: 10px;
$gap-md: 20px;
$gap-lg: 30px;
$tablet: 1000px;
$mobile: 768px;

$font: 'Alegreya Sans SC', sans-serif;
